<div>
    <mat-form-field class="input_text" appearance="fill">
        <mat-label class="mat-label">Text:</mat-label>
        <textarea matInput placeholder="text awaiting encryption or decryption."
            [(ngModel)]="toBeProceessed"></textarea>
    </mat-form-field>
</div>
<div>
    <p></p>
</div>
<mat-form-field class="input_key" appearance="fill">
    <mat-label class="mat-label">Key:</mat-label>
    <input matInput placeholder="secret key." [(ngModel)]="secretKey">
</mat-form-field>
<button mat-stroked-button color="primary" (click)="genMatrix()">Generate Matrix</button>
<button mat-stroked-button color="primary" (click)="encrypt()">Encrypt</button>
<button mat-stroked-button color="primary" (click)="decrypt()">Decrypt</button>
<button mat-stroked-button color="primary" (click)="clear()">Clear</button>
